body {
	margin: auto;
	text-align: center;
	background-image: url("fondo.jpg");
	font-family: 'Raleway', sans-serif;
}

.caja {
	margin: 10px;
}

.btn {
	font-family: 'Raleway', sans-serif;
	border-radius: 5px;
	font-size: 18px;
	transition: all 0.2s linear;
}

.btn:hover {
	font-size: 22px;
	transition: all 0.2s linear;
}

#ahorcado {
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 405px;
	width: 350px;
	margin: auto;
	background-image: url("ahorcado.jpg");
}

.input {
	margin-top: 10px;
	font-weight: bold;
}
